html {
  scroll-behavior: smooth;
}

.overflow {
  overflow: hidden;
}

/*navbar*/
.nav-link {
  margin: 20px;
}
/*banner*/
.sansita {
  font-family: 'Sansita Swashed', cursive;
}
.home-banner {
  height: 700px;
  background: url('./assets/fondo.jpg') no-repeat center/cover;
}
/*minibanner*/
.mini-banner {
  height: 400px;
  background: url('./assets/minibanner.jpg') no-repeat center/cover fixed;
}
/*footer*/
.footer-item {
  list-style: none;
}

.flex-footer {
  display: flex;
  justify-content: center;
}

/*about*/
.about-img {
  background: url('./assets/logo.jpg') center center/cover;
}

/*botones*/
.btn-info {
  background-color: #48b8d0 !important;
  border: #48b8d0 !important;
}
.btn-primary {
  background-color: #48b8d0 !important;
  border: #48b8d0 !important;
}
.fab {
  color: #48b8d0 !important;
  border: #48b8d0 !important;
}

/*características*/
.caracteristicas-font {
  color: black;
}

/*contacto*/
.img-contacto {
  display: flex;
  justify-content: center;
}
.contacto-img {
  width: 450px;
}

/*sidebvar*/
.list-group-item-secondary {
  background: #256381 !important;
}

/*productos*/
.iconos {
  width: 300px;
}
